{% extends "base.html" %}

{% block content %}

<meta charset="UTF-8">
<h2 align="center">Works log</h2>
<div class="table">
     {% for job in jobs %}
         <table class="mytable">
             <h6>Action #{{loop.index}}</h6>
             <tr class="myrow">
                <td class="title">Title of activity</td>
                <td class="title">Team Leader</td>
                <td class="title">Duration</td>
                <td class="title">List of collaborators</td>
                <td class="title">Is finished</td>
             </tr>

             <tr class="myrow">
                <td class="ordinary"> {{ job.job.capitalize() }} </td>
                <td class="ordinary"> {{ names[job.team_leader][0], names[job.team_leader][1] }} </td>
                <td class="ordinary"> {{ job.work_size }} hours</td>
                <td class="ordinary"> {{ job.collaborators }} </td>
                {% if job.is_finished == True %}
                    <td class="ordinary2"> {{ job.is_finished }}</td>
                {% else %}
                    <td class="ordinary1"> {{ job.is_finished }}</td>
                {% endif %}
             </tr>
         </table>
     {% endfor %}
     {% if current_user.is_authenticated %}
        <a href="/add"><button type="button" class="btn btn-primary">Добавить работу</button></a>
     {% endif %}
</div>

{% endblock %}